
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
  text-align: center;
  padding: 20px;
}

.card > img {
  width: 150px;
}
